      <body>
      <div class="container">
      <div class="card">
       <div class="row no-gutters">
      <div class="card-body">
    </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-body">
          <%if @user.avatar.attached?%>
            <%= image_tag @user.avatar, alt: 'avatar', class:"avatar shadow"%>
            <h5 class="text-center mt-3">Mettre à jour l'avatar</h5>
            <hr>
          <%else%>
            <p>Pas d'avatar défini</p>
            <p>Choisir un avatar ?</p>
            <%end%>
              <%= form_tag user_avatars_path(@user), multipart: true do %>
              <%= file_field_tag :avatar , class:"form-control btn btn-secondary mb-3"%>
              <%= submit_tag "mettre à jour", class:"btn btn-secondary form-control" %>
            <% end %>
            <hr>
          <h5 class="card-text text-center">John Doe</h5>
          <h5 class="card-text text-center"><%= @user.email %></h5>
          <%= link_to "Changer le mot de passe" ,edit_user_password_path, class:"btn btn-danger form-control" %>
        </div>
    </div>
      <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-text text-center">Mes commandes : </h3>
        <br>
        <p class="card-text description"><p class="card-text"></p>
        <% if current_user.id == params[:user_id] %>
          <%= render 'orders/orderindex'%>
          <%else%>
          <p>Aucune commande effectuée</p>
          <%end%>
      </div>
      </div>
      
  </div>
    </div>
      </div>
         <div class="card-footer bg-primary text-light">
      <caption>Profil crée le <%=@user.created_at%></caption>
      </div>
      </div>
      <br>

</body>
