<header class="section-header">
<nav class="navbar navbar-default navbar-expand-lg bg-white fixed-top">
<div class="container">
  <a href="/" class="navbar-brand"><img src="https://res.cloudinary.com/dcmcouvju/image/upload/v1623256131/logo_rybibq.png" alt="logo PussyFans" class="w-25"></a>
      <ul class="navbar-nav ml-auto mr-sm-2 mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class:"text-white btn btn-info" %>
        </li>
        <li class="nav-item mr-3">
          <%= link_to "A propos", static_pages_about_path, class:"nav-link"%>
        </li>
        <li class="nav-item mr-3">
          <%= link_to "Contact", new_contact_path, class:"nav-link"%>
        </li>
            <li class="nav-item me-4">
          <%= link_to "S'inscrire", new_user_registration_path, class:"btn btn-secondary text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class:"btn btn-info text-white" %>
        </li>
      </ul>
    </div>
</nav>
</header>
<br /><br /><br /><br /><br /><br />


