<!DOCTYPE html>
<html>
  <head>
    <title>PussyFans</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
  <%if user_signed_in? %>
    <%= render "layouts/usernav" %>
  <%else%>
    <%= render "layouts/navbar"%>
  <%end%>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
