<!DOCTYPE html>
<html>
  <head>
    <title>PussyFans</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
  <%= render "layouts/_navbar" %>
=======
    <%= render 'layouts/navbar'  %>
>>>>>>> b9a9b8f2095e81ffcf1f5e3808ab7e71f7019cc0
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
