<body>
  <div class="container">
    <div class="row ">
      <div class="col-md-6 offset-md-3">
        <br><br><br>
        <div class="row align-items-md-stretch">
          <div class="card">
            <br>
            <h2 class="h3 mb-3 font-weight-normal text-center">Editer le profil</h2>



            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="md-form mb-0">
              <%= f.label :email, "Email" %><br />
              <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
            </div>
            <br>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="md-form mb-0">
              <%= f.label :password, "Nouveau mot de passe" %><br/>
              <%= f.password_field :password, class:"form-control", autocomplete: "new-password" %>
              <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> charactères minimum</em>
              <% end %>
            </div>
            <br>
            <div class="md-form mb-0">
              <%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
              <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password" %>
            </div>
            <br>
            <div class="md-form mb-0">
              <%= f.label :current_password, "Mot de passe actuel" %><br />
              <%= f.password_field :current_password, class:"form-control", autocomplete: "current-password" %>
            </div>
            <br>
            <div class="actions">
              <%= f.submit "Mettre à jour", class:"btn btn-primary"%>
            </div>
            <% end %>
            <br>
            <hr>
            <h3>Supprimer mon compte</h3>
            <br>
            <%= button_to "Supprimer", registration_path(resource_name), class:"btn btn-danger", data: { confirm: "Sans regret ?! 😨" }, method: :delete %>
            <br>

          </div>
          <br>
          <%= link_to "Retour vers mon profil", :back %>
        </div>
      </div>
    </div>
  </div>
</body>
